@import "tailwindcss";
@source "../node_modules/@jakobsaadbye/teilen-sql/src/react/";

@theme {
    --color-primary: #22223B;
    --color-secondary: #C9ADA7;
    --color-tertiary: #4A4E69;
    --color-ourWhite: #F2E9E4;
}